<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            <p>Gold: {{ gold }}</p>
            <p>Logs: {{ logs }}</p>
            <p>Peons: {{peonCount}}</p>
            <p>Loggers: {{loggerCount}}</p>
            
            <p>Buy Peon for {{ peonCost }} gold</p>
            <button v-on:click="clickPeon">Click For Peon</button>
            
            <p>Buy Logger for {{ loggerCost }} gold</p>
            <button v-on:click="clickLogger">Click For Logger</button>
            
            <div v-for="peon in peons">
                <peon v-bind:name=peon.name></peon>
            </div>
            
            <div v-for="logger in loggers">
                <logger v-bind:name=logger.name></logger>
            </div>
            
            </br></br></br>
            
            <p>Upgrades: </p>
			<div v-show="showMineSpeedUp">
				<p>Mining Speed: {{ mineSpeedCost[0] }} Gold, {{ mineSpeedCost[1] }} Lumber</p>
				<button v-on:click="mineSpeedUp" class = "upgrade_button"> {{ mineSpeed }} </button>
			</div>
			
            <p>Gold Carry Amount: {{ peonAmountCost[0] }} Gold, {{ peonAmountCost[1] }} Lumber</p>
            <button v-on:click="peonAmountUp" class = "upgrade_button"> {{ peonAmount }} </button>
            
			<p>Peon Speed: {{ peonSpeedCost[0] }} Gold, {{ peonSpeedCost[1] }} Lumber</p>
            <button v-on:click="peonSpeedUp" class = "upgrade_button"> {{ peonSpeed }} </button>
            
            <div v-show="showLogSpeedUp">
			    <p>Logging Speed: {{ loggingSpeedCost[0] }} Gold, {{ loggingSpeedCost[1] }} Lumber</p>
                <button v-on:click="loggingSpeedUp" class = "upgrade_button"> {{ loggingSpeed }} </button>
            </div>
			
            <p>Lumber Carry Amount: {{ loggerAmountCost[0] }} Gold, {{ loggerAmountCost[1] }} Lumber</p>
            <button v-on:click="loggerAmountUp" class = "upgrade_button"> {{ loggerAmount }} </button>

			<p>Logger Speed: {{ loggerSpeedCost[0] }} Gold, {{ loggerSpeedCost[1] }} Lumber</p>
            <button v-on:click="loggerSpeedUp" class = "upgrade_button"> {{ loggerSpeed }} </button>
            
			</br></br></br>
            <p>Per Click: {{ clickGoldAmountCost[0] }} Gold, {{ clickGoldAmountCost[1] }} Lumber</p>
            <button v-on:click="clickGoldUp" class = "upgrade_button"> {{ clickGoldAmount }}</button>
         
            

         
         
          <!--  <img src="https://i.imgur.com/acx5LyQ.png" class="test_peon"> -->
            <img src="https://i.imgur.com/7asGXz4.png" class="background">
            <img src="https://i.imgur.com/wfKEqpe.png" class='town_hall'>
            <img src="https://i.imgur.com/WZpEDjd.png" v-on:click="clickGold" class='gold_mine'>
            <img src="https://i.imgur.com/0qDnJa1.png" v-on:click="clickLogs" class='trees'>
            
        </div>
        
        
        
        
        
        <script src="index.js"></script>
    </body>
</html>